extends layout

block content
  h1 Admin Panel (temporary)
  h2 Services
  a(href="/admin/addservice") Add a Service
  br
  a(href="/admin/delservice") Delete a Service
  br
  a(href="/admin/Services") List all Services
  br
  h2 Actions
  a(href="/admin/addAction") Add an action to a service
  br
  h2 Reactions
  a(href="/admin/addReaction") Add a reaction to a service
  br
  h2 Users
  a(href="/admin/Users") List all users
  br
  a(href="/admin/rmLinkedAccounts") Purge Linked accounts's list
  br
  a(href="/admin/rmActionsReactions") Purge A/R's list