*

!.gitignore
!cadvisor.daemonset.yaml
!postgres.secret.yaml
!postgres.configmap.yaml
!postgres.volume.yaml
!postgres.deployment.yaml
!postgres.service.yaml
!redis.configmap.yaml
!redis.deployment.yaml
!redis.service.yaml
!poll.deployment.yaml
!worker.deployment.yaml
!result.deployment.yaml
!poll.service.yaml
!result.service.yaml
!poll.ingress.yaml
!result.ingress.yaml
!traefik.rbac.yaml
!traefik.deployment.yaml
!traefik.service.yaml